watchdog==3.0.0
markdownify==0.11.6
flatbuffers==24.3.25
shellingham==1.5.4
GPUtil==1.4.0
seqeval==1.2.2
ujson==5.9.0
base58==2.0.1
lxml==4.9.4
cint==1.0.0
sqlparse==0.4.4
opencv-python-headless==4.11.0.86
arrow==1.3.0
semantic-version==2.10.0
soundfile==0.12.1
kaitaistruct==0.11
multidict==6.0.4
scipy==1.11.4
decorator==4.4.2
onnxoptimizer==0.3.13
async-lru==2.0.4
fastjsonschema==2.19.1
coloredlogs==15.0.1
aiohttp-retry==2.8.3
jq==1.6.0
uri-template==1.3.0
humanfriendly==10.0
socksio==1.0.0
kiwisolver==1.4.5
pytablewriter==1.2.0
libclang==16.0.6
rfc3339-validator==0.1.4
tensorflow==2.18.0
hyperframe==6.0.1
pexpect==4.9.0
pydeck==0.8.1b0
selenium==4.16.0
pyasn1==0.5.1
visualdl==2.5.3
langchain-core==0.1.4
opencv-python==4.8.1.78
pygame==2.5.2
fire==0.7.0
text-unidecode==1.3
tomlkit==0.12.0
responses==0.25.7
faiss-cpu==1.7.4
lazy_loader==0.4
bcrypt==4.0.1
flask-babel==4.0.0
transformers==4.51.3
zhipuai==1.0.7
msgspec==0.19.0
tabledata==1.3.3
interegular==0.3.3
partial-json-parser==0.2.1.1.post5
fqdn==1.5.1
astor==0.8.1
smart-open==6.4.0
xgboost==2.0.3
ray==2.44.1
mtcnn-runtime==1.0.0
h2==4.1.0
ordered-set==4.1.0
sse-starlette==1.8.2
effdet==0.4.1
opentelemetry-exporter-otlp-proto-common==1.31.0
polygraphy==0.49.20
fastprogress==1.0.3
zstandard==0.23.0
pdfplumber==0.10.3
pydub==0.25.1
binpacking==1.5.2
torch-cluster==1.6.3
graphene==3.3
DataProperty==1.0.1
pre_commit==4.1.0
distlib==0.3.9
iterative-telemetry==0.0.8
trampoline==0.1.2
smmap==5.0.1
gymnasium==0.29.1
termcolor==2.4.0
diskcache==5.6.3
ptyprocess==0.7.0
tensorflow-estimator==2.15.0
outcome==1.3.0.post0
torchstat==0.0.7
jupyterlab==4.1.4
olefile==0.47
rouge==1.0.1
dictdiffer==0.9.0
isoduration==20.11.0
PyMuPDFb==1.23.7
protobuf==3.20.2
dashscope==1.13.6
PyYAML==6.0.1
swankit==0.2.4
evaluate==0.4.1
mistral_common==1.5.3
tensorflow-macos==2.15.0
multiprocess==0.70.12.2
tinycss2==1.2.1
comet-ml==3.41.0
jupyter_server==2.13.0
aniso8601==9.0.1
swagger-spec-validator==3.0.3
pypistats==1.6.0
toml==0.10.2
sphinxcontrib-htmlhelp==2.1.0
Pygments==2.17.2
databricks-cli==0.18.0
click-repl==0.3.0
nbconvert==7.16.2
pyproject_hooks==1.0.0
ruamel.yaml.clib==0.2.8
overrides==7.7.0
typeguard==4.4.1
pyclipper==1.3.0.post5
pytest==7.4.4
gradio_client==1.10.4
wurlitzer==3.0.3
webencodings==0.5.1
colorama==0.4.6
dpath==2.1.6
googleapis-common-protos==1.69.1
rapidocr-onnxruntime==1.3.8
httptools==0.6.1
python-dateutil==2.8.2
tokenizers==0.21.0
crcmod==1.7
confection==0.1.4
urllib3==1.26.20
bravado==11.0.3
dominate==2.9.1
msg-parser==1.2.0
openmim==0.3.9
rpds-py==0.13.1
attrs==23.1.0
intervaltree==3.1.0
ffmpeg==1.4
gql==4.0.0
alembic==1.13.0
entrypoints==0.4
astunparse==1.6.3
ipython==8.24.0
paddlenlp==2.6.1
onnxruntime==1.15.1
contourpy==1.2.0
openmind==1.0.0
neptune==1.13.0
vllm==0.7.3
PyNaCl==1.5.0
atpublic==4.1.0
platformdirs==4.3.8
streamlit-aggrid==0.3.4.post3
python-json-logger==2.0.7
nicegui==1.4.20
nbformat==5.9.2
curl-cffi==0.5.10
uc-micro-py==1.0.2
orjson==3.10.0
bce-python-sdk==0.8.97
pysrt==1.1.2
outlines==0.1.11
defusedxml==0.7.1
mujoco==3.3.2
tcolorpy==0.1.6
python-magic==0.4.27
everett==3.1.0
jsonpointer==2.4
netron==7.5.7
scmrepo==3.3.1
peewee==3.17.0
google-pasta==0.2.0
semver==3.0.2
xmltodict==0.13.0
jsonschema-specifications==2023.11.1
celery==5.3.6
configobj==5.0.8
propcache==0.4.1
transformers-stream-generator==0.0.4
nh3==0.2.15
paddlefsl==1.1.0
cloudpickle==3.0.0
h5py==3.12.1
pandas==2.3.1
pydantic==2.10.6
numexpr==2.8.8
xformers==0.0.23.post1
imageio==2.36.1
cryptography==41.0.7
cryptography==41.0.5
spacy-legacy==3.0.12
groovy==0.1.2
gitdb==4.0.11
pydot==2.0.0
thop==0.1.1-2209072238
click-didyoumean==0.3.1
tenacity==9.1.2
plotly==5.22.0
json5==0.9.22
sentence-transformers==3.0.0
yapf==0.43.0
markdown-it-py==3.0.0
torchvision==0.20.1
parso==0.8.3
six==1.16.0
pathlib==1.0.1
rarfile==4.1
seaborn==0.13.2
mypy-extensions==1.0.0
litellm==1.74.1
Farama-Notifications==0.0.4
h11==0.14.0
jupyter_core==5.7.1
websockets==11.0.3
vbuild==0.8.2
svgwrite==1.4.3
fair-esm==2.0.0
colorlog==6.9.0
unisms==0.0.7
voluptuous==0.14.2
bravado-core==6.1.1
jupyter-console==6.6.3
ruff==0.11.2
umami-analytics==0.2.17
QtPy==2.4.1
spacy==3.7.2
aimrocks==0.4.0
keras==3.6.0
spacy-loggers==1.0.5
SQLAlchemy==2.0.19
aimrecords==0.0.7
future==0.18.3
typing-inspect==0.9.0
pycryptodome==3.19.0
widgetsnbextension==4.0.10
openpyxl==3.1.2
sphinxcontrib-qthelp==2.0.0
psycopg==3.2.9
pytz==2023.3.post1
billiard==4.2.0
proglog==0.1.10
mlflow-skinny==2.20.3
torchsde==0.2.6
flatten-dict==0.4.2
requests==2.32.4
prometheus-fastapi-instrumentator==7.0.2
fastai==2.7.15
annotated-types==0.6.0
httpcore==1.0.2
PySocks==1.7.1
nbclient==0.9.0
dvc-objects==5.1.0
tiktoken==0.9.0
lightning==2.2.1
furo==2024.8.6
murmurhash==1.0.10
paramiko==3.3.1
catalogue==2.0.10
webcolors==1.13
RestrictedPython==7.1
iniconfig==2.0.0
rich==13.9.4
tqdm==4.67.1
openxlab==0.1.2
agentops==0.4.2
fsspec==2024.6.1
ml-dtypes==0.4.1
stable_baselines3==2.6.0
ultralytics-thop==2.0.17
pandocfilters==1.5.1
pypdfium2==4.25.0
hpack==4.0.0
PyOpenGL==3.1.9
langchain-community==0.0.7
fastdownload==0.0.7
optree==0.11.0
querystring-parser==1.2.4
jsonpatch==1.33
iopath==0.1.10
appnope==0.1.4
outlines_core==0.1.26
numpy==1.26.4
docstring_parser==0.16
thinc==8.2.2
dvc-http==2.32.0
rapidfuzz==3.6.1
streamlit-option-menu==0.3.6
mistune==3.0.2
sphinx-basic-ng==1.0.0b2
llamafactory==0.9.3.dev0
lark==1.2.2
jupyterlab_server==2.25.3
portalocker==2.8.2
jmespath==0.10.0
mmengine==0.10.7
tzdata==2023.3
numba==0.60.0
blake3==1.0.4
dvc-render==1.0.1
modelscope==1.22.0
dvc-task==0.4.0
albumentations==2.0.5
cloudpathlib==0.16.0
sphinxcontrib-serializinghtml==2.0.0
python-slugify==8.0.4
mdit-py-plugins==0.4.2
appdirs==1.4.4
ruamel.yaml==0.18.6
jieba==0.42.1
mlx-metal==0.28.0
ifaddr==0.2.0
myst-parser==4.0.1
jsonschema==4.23.0
addict==2.4.0
qtconsole==5.5.1
databricks-sdk==0.44.1
moviepy==2.2.1
stdlib-list==0.11.1
Flask==3.0.0
opentelemetry-exporter-otlp-proto-http==1.31.0
comm==0.2.1
async-timeout==4.0.3
grandalf==0.8
stack-data==0.6.3
argon2-cffi==23.1.0
Jinja2==3.1.5
fickling==0.1.4
msgpack==1.0.8
asttokens==2.4.1
xxhash==3.4.1
aim-ui==3.19.2
dulwich==0.21.7
simsimd==6.2.1
python-engineio==4.9.0
dvc-studio-client==0.20.0
opentelemetry-semantic-conventions-ai==0.4.3
uvicorn==0.27.0
pathspec==0.12.1
oauthlib==3.2.2
weasel==0.3.4
nvidia-ml-py==12.535.133
sphinxcontrib-jsmath==1.0.1
torchaudio==2.5.1
pycparser==2.21
pycocotools==2.0.7
gunicorn==21.2.0
langdetect==1.0.9
frozenlist==1.4.0
httpx==0.25.2
simplejson==3.19.2
setproctitle==1.3.3
mlx-lm==0.26.4
jedi==0.19.1
dvc==3.49.0
uvloop==0.19.0
aliyun-python-sdk-core==2.14.0
openmind-hub==0.9.1
pure-eval==0.2.2
virtualenv==20.29.3
airportsdata==20250224
aiofiles==23.2.1
python-dotenv==1.0.1
opentelemetry-api==1.31.0
torchtune==0.1.1
wavedrom==2.0.3.post3
mmcv==2.2.0
fonttools==4.45.1
gast==0.5.4
gym-notices==0.0.8
python-iso639==2023.12.11
bidict==0.23.1
soupsieve==2.5
prompt-toolkit==3.0.43
threadpoolctl==3.2.0
nanoid==2.0.0
identify==2.6.9
opentelemetry-proto==1.31.0
attrdict==2.0.1
accelerate==1.4.0
fastcore==1.5.38
huggingface-hub==0.31.2
graphql-relay==3.2.0
terminado==0.18.0
langsmith==0.0.75
cffi==1.16.0
importlib-metadata==6.11.0
nodeenv==1.9.1
matplotlib-inline==0.1.6
setuptools==80.9.0
pygit2==1.14.1
jupyterlab_widgets==3.0.10
safetensors==0.5.2
paddle2onnx==2.0.1
filelock==3.14.0
pscript==0.7.7
notebook==7.1.1
mdurl==0.1.2
einops==0.8.0
shortuuid==1.0.11
cfgv==3.4.0
mlflow==2.20.3
lm-format-enforcer==0.10.11
dataclasses==0.6
google-auth-oauthlib==1.1.0
pymongo==4.4.0
mpmath==1.3.0
Mako==1.3.0
unstructured.pytesseract==0.3.12
jupyter_client==8.6.0
jupyterlab_pygments==0.3.0
kornia_rs==0.1.2
pypandoc==1.12
pathvalidate==3.2.0
simple-websocket==1.0.0
torch==2.5.1
validators==0.22.0
timm==0.9.12
rdkit-pypi==2022.9.5
streamlit-feedback==0.1.3
aiohttp==3.13.1
traitlets==5.14.1
pygtrie==2.5.0
openai==1.99.1
preshed==3.0.9
jsonref==1.1.0
sortedcontainers==2.4.0
nest-asyncio==1.5.8
pynvml==12.0.0
rsa==4.9
bleach==6.1.0
asyncssh==2.14.2
packaging==24.2
types-python-dateutil==2.8.19.20240311
kombu==5.3.6
freezegun==1.5.1
arxiv==2.1.0
charset-normalizer==3.3.2
Markdown==3.5.1
blinker==1.7.0
abnf==2.2.0
joblib==1.3.2
yarg==0.1.9
pyasn1-modules==0.3.0
pyzmq==25.1.2
beautifulsoup4==4.12.2
marshmallow==3.20.1
tzlocal==5.2
antlr4-python3-runtime==4.9.3
itsdangerous==2.1.2
chardet==5.2.0
nltk==3.8.1
torchtext==0.18.0
swanlab==0.6.13
jupyter_server_terminals==0.5.2
torch-scatter==2.1.2
sentry-sdk==2.17.0
gradio==5.35.0
debugpy==1.8.1
jupyter==1.0.0
layoutparser==0.3.4
emoji==2.9.0
sphinxcontrib-devhelp==2.0.0
pyarrow==18.1.0
psutil==5.9.8
aiosignal==1.4.0
grpcio==1.59.3
PyMuPDF==1.23.8
streamlit-modal==0.1.0
srsly==2.4.8
zipp==3.17.0
onnx==1.17.0
build==1.0.3
imagesize==1.4.1
pipreqs==0.4.13
pdf2image==1.16.3
python-pptx==0.6.23
peft==0.11.1
Brotli==1.1.0
amqp==5.2.0
fastapi==0.115.12
ultralytics==8.3.193
trio-websocket==0.11.1
pydantic_core==2.27.2
python-decouple==3.8
youtube-search==2.1.2
docopt==0.6.2
absl-py==2.0.0
strsimpy==0.2.1
wheel==0.41.3
dnspython==2.3.0
tensorboardX==2.6.2.2
xlrd==2.0.1
XlsxWriter==3.1.9
Werkzeug==3.0.1
cycler==0.12.1
tyro==0.8.14
PyJWT==2.8.0
opentelemetry-semantic-conventions==0.52b0
matplotlib==3.8.2
sphinx-autobuild==2024.10.3
pycryptodomex==3.20.0
importlib-resources==6.1.1
gto==1.7.1
cymem==2.0.8
analytics-python==1.4.post1
pdfminer.six==20221105
cachetools==5.3.2
model-index==0.1.11
pooch==1.8.2
python-multipart==0.0.20
watchfiles==0.21.0
python-docx==1.1.0
langchain==0.0.352
pyecharts==2.0.8
click-plugins==1.1.1
pyparsing==3.1.1
depyf==0.18.0
python-socketio==5.11.2
namex==0.0.8
ipykernel==6.29.3
deprecation==2.1.0
distro==1.9.0
opentelemetry-instrumentation==0.52b0
tensorboard==2.18.0
graphviz==0.21
shtab==1.7.1
s3transfer==0.11.4
langchain-experimental==0.0.47
starlette==0.46.1
polyfile-weave==0.5.7
greenlet==3.0.3
av==14.2.0
torchao==0.1
regex==2023.10.3
wandb==0.22.2
pillow==10.4.0
opt-einsum==3.3.0
docker-pycreds==0.4.0
funcy==2.0
rfc3986-validator==0.1.1
streamlit==1.42.0
dotenv==0.9.9
tomli==2.0.1
aiohappyeyeballs==2.6.1
sphinxcontrib-applehelp==2.0.0
jupyter-lsp==2.2.4
opentelemetry-sdk==1.31.0
tf_keras==2.17.0
requests-toolbelt==1.0.0
wrapt==1.17.2
loguru==0.7.2
networkx==3.2.1
ninja==1.11.1.1
snowballstemmer==2.2.0
sympy==1.13.1
neptune-tensorflow-keras==2.2.2
argon2-cffi-bindings==21.2.0
Send2Trash==1.8.2
oss2==2.17.0
botocore==1.37.8
py-cpuinfo==9.0.0
lmdb==1.4.1
typing_extensions==4.12.2
docutils==0.21.2
unstructured-inference==0.7.15
alabaster==1.0.0
certifi==2023.11.17
torchdrug==0.2.1
sniffio==1.3.0
sentencepiece==0.2.0
jupyter-events==0.9.0
pip==23.3.1
llama-index==0.9.24
simpletransformers==0.70.1
sqltrie==0.11.0
monotonic==1.6
pycountry==24.6.1
compressed-tensors==0.9.1
swanboard==0.1.8b1
et-xmlfile==1.1.0
duckduckgo_search==4.1.1
Babel==2.13.1
backoff==2.2.1
wcwidth==0.2.12
ipywidgets==8.1.2
tensorboard-data-server==0.7.2
dacite==1.8.1
Deprecated==1.2.14
imageio-ffmpeg==0.4.9
uni-sdk==0.2.0
sgmllib3k==1.0.0
zc.lockfile==3.0.post1
graphql-core==3.2.3
blobfile==2.1.1
dvc-data==3.15.1
filetype==1.2.0
gguf==0.10.0
typepy==1.3.2
boto3==1.37.8
toolz==0.12.0
lightning-utilities==0.11.2
dataclasses-json==0.6.3
albucore==0.0.23
rdkit==2023.9.5
altair==5.1.2
google-auth==2.23.4
cpm-kernels==1.0.11
prometheus_client==0.20.0
shapely==2.0.2
anyio==4.2.0
kornia==0.7.2
streamlit-chatbox==1.1.11
typer==0.15.2
diffusers==0.33.1
scikit-learn==1.7.1
openpipe-art==0.5.0
pytorch-lightning==2.2.1
uv==0.6.13
ffmpy==0.3.1
websocket-client==1.3.3
trl==0.19.1
aliyun-python-sdk-kms==2.16.2
hydra-core==1.3.2
GitPython==3.1.40
feedparser==6.0.10
tensorflow-io-gcs-filesystem==0.36.0
Sphinx==8.1.3
exceptiongroup==1.2.0
gym==0.26.2
mlx==0.28.0
polars==1.33.0
aim==3.19.2
weave==0.52.10
metaphor-python==0.1.23
trio==0.23.2
fschat==0.2.34
MarkupSafe==2.1.3
wsproto==1.2.0
soxr==0.5.0.post1
wasabi==1.1.2
docker==6.1.3
dill==0.3.4
idna==3.6
datasets==3.2.0
torchmetrics==1.3.2
stringzilla==3.12.4
eval_type_backport==0.2.2
flufl.lock==7.1.1
omegaconf==2.3.0
pluggy==1.3.0
librosa==0.10.2.post1
etils==1.12.2
pyarrow-hotfix==0.6
yarl==1.22.0
opendatalab==0.0.10
executing==2.0.1
jiter==0.9.0
pytesseract==0.3.10
unstructured==0.11.0
safehttpx==0.1.6
requests-mock==1.12.1
vine==5.1.0
mbstrdecoder==1.1.3
prettytable==3.10.2
linkify-it-py==2.0.2
click==8.1.7
markdown2==2.4.12
tabulate==0.9.0
audioread==3.0.1
requests-oauthlib==1.3.1
notebook_shim==0.2.4
glfw==2.9.0
tornado==6.4
langcodes==3.3.0
e==1.4.5
cos-python-sdk-v5==1.9.28
llvmlite==0.43.0
referencing==0.31.0
blis==0.7.11
python-box==6.1.0
llamafactory==0.9.3.dev0
ms-swift==3.2.0.dev0
