:root {
    --vp-c-brand-1: #107d8b;
    --vp-layout-max-width: 1440px;
    --vp-sidebar-bg-color: var(--vp-c-bg-alt);
    /* --vp-sidebar-width: 300px; */
    /* --vp-layout-max-width: 100%; */
    /* --vp-sidebar-padding-left: 0px; */
    /* --vp-c-gutter: transparent; */
}

.dark {
    --vp-c-brand-1: #2e9dac;
}

/* .VPSidebar {
    padding-left: 32px !important;
}

.VPDoc.has-aside .content-container {
    max-width: 820px !important;
} */

.title {
    border-bottom: transparent !important;
}

/* 调整搜索框位置 */
div.VPNavBarSearch.search {
    padding: 0px;
    margin-left: 20px;
    margin-right: 20px;
    flex-grow: 1;
}