:root {
    --vp-c-brand-1: #107d8b;
    --vp-layout-max-width: 1440px;
    --vp-sidebar-bg-color: var(--vp-c-bg-alt);
    --vp-sidebar-width: 308px;
    --vp-layout-max-width: 100%;
    /* --vp-sidebar-padding-left: 0px; */
    /* --vp-c-gutter: transparent; */
}

.dark {
    --vp-c-brand-1: #2e9dac;
}

.VPSidebar {
    padding-left: 32px !important;
}

.VPDoc.has-aside .content-container {
    max-width: 920px !important;
}

.VPDoc.has-aside .content {
    max-width: 1236px !important;
}

.title {
    border-bottom: transparent !important;
}

/* 调整搜索框位置 */
div.VPNavBarSearch.search {
    padding: 0px;
    margin-left: 20px;
    margin-right: 20px;
    flex-grow: 1;
}


/* 调整右侧导航栏的定位 */
.VPDoc.has-aside .aside {
    position: sticky;
    top: var(--vp-header-height);
    width: 240px;
    max-height: calc(100vh - var(--vp-header-height));
    overflow-y: auto;
    margin-left: 32px;
}

/* 确保在小屏幕上右侧导航栏不会重叠 */
@media (max-width: 1280px) {
    .VPDoc.has-aside .aside {
        position: static;
        width: 100%;
        margin-top: 24px;
        margin-left: 0;
    }
}
